body {
    background-color: rgb(250, 233, 243);

}

h1{
    text-decoration: underline;
    text-align: center;
    color: rgb(3, 4, 85);
}
.firstlist{

    st-style-type: square;
    background: #dcc4eb;
    margin: 2px;
    font-size:25px;
    font-style: italic;
    font-style: bold;
    text-shadow: 2px 2px 5px rgb(94, 129, 223);
    font-family: 'Kaushan Script', cursive;

}
img{
  height: 160px;
  width:160px;
  position:relative;

}
#firstparagraph{

    
    font-size: 22px;
    font-style: bold;
    text-shadow: 2px 2px 5px rgb(228, 156, 225);


}
#secondparagraph
{

    font-size: 25px;
    color:rgb(181, 127, 231)

}
#thirdparagraph{

    font-size: 25px;
    color:rgb(179, 25, 158)


}
#fourparagraph{

    font-size: 25px;
    color:rgb(135, 88, 179)  

}
.listitem{

    font-size: 20px;
    color:rgb(28, 10, 94) 

}

#placelist{
    text-decoration: underline;
    font-size: 25px;
    color:rgb(48, 5, 34)
    text-shadow: cadetblue2px 2px 5px rgb(0, 0, 225);

}

.list{

    
    font-size: 20px;
    color:rgb(33, 9, 121)

}





